/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-h9km5lrucj] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

main[b-h9km5lrucj] {
    flex: 1;
}

article[b-h9km5lrucj] {
    background-color: white;
    padding-bottom: 1.5rem;
}

.top-row[b-h9km5lrucj] {
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

    .top-row[b-h9km5lrucj]  a, .top-row[b-h9km5lrucj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-h9km5lrucj]  a:hover, .top-row[b-h9km5lrucj]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-h9km5lrucj]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-h9km5lrucj] {
        display: none;
    }

    .top-row.auth[b-h9km5lrucj] {
        justify-content: space-between;
    }

    .top-row[b-h9km5lrucj]  a, .top-row[b-h9km5lrucj]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h9km5lrucj] {
        flex-direction: row;
    }

    .sidebar[b-h9km5lrucj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .sidebar-right[b-h9km5lrucj] {
        width: 50px;
    }

    .top-row[b-h9km5lrucj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-h9km5lrucj]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-h9km5lrucj], article[b-h9km5lrucj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar[b-jdqjutlb7l] {
    padding: 0;
    height: 4rem;
    background-color: #f7f7f7;
}

.navbar-brand[b-jdqjutlb7l] {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1rem;
    color: #0080BC !important;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1rem;
}

.navbar-brand[b-jdqjutlb7l]::before {
    content: "";
    display: block;
    height: 3px;
    background-color: #0080BC;
}

.navbar-brand[b-jdqjutlb7l]::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #0080BC;
}

.oi[b-jdqjutlb7l] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jdqjutlb7l] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jdqjutlb7l] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jdqjutlb7l] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jdqjutlb7l]  a {
        color: black;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-jdqjutlb7l]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: #0080BC;
        }

        .nav-item[b-jdqjutlb7l]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #0080BC;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-jdqjutlb7l] {
        display: none;
    }

    .collapse[b-jdqjutlb7l] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-jdqjutlb7l] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background-color: #f7f7f7;
    }
}
/* /Shared/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-x12qn5p5fx] {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
}

span[b-x12qn5p5fx] {
    visibility: hidden;
    position: absolute;
    width: 160px;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

span[b-x12qn5p5fx]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span[b-x12qn5p5fx] {
    visibility: visible;
}
