.navbar {
    padding: 0;
    height: 4rem;
    background-color: #f7f7f7;
}

.navbar-toggler {
    color: #0080BC;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1rem;
    color: #0080BC !important;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1rem;
}

.navbar-brand::before {
    content: "";
    display: block;
    height: 3px;
    background-color: #0080BC;
}

.navbar-brand::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #0080BC;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: black;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: #0080BC;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #0080BC;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background-color: #f7f7f7;
    }
}
