<div class="top-row navbar">
    <div class="container-fluid ms-1">
        <a class="navbar-brand" href=""><img src="./favicon.ico" width="40" height="40" class="d-inline-block align-top" /><span class="ms-2">Tax Tools</span></a>
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaxLimitationCalculator" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Tax Limitation (SB12)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
