@page "/TaxLimitationCalculator"
@page "/"
@using TaxTools.Core.TaxLimitation

@inject HttpClient Http

<PageTitle>Tax Limitation Calculator</PageTitle>

<h2>Tax Limitation Calculator (SB12)</h2>

@if (_districts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenPanel AllowCollapse="true" Class="rz-my-3">
        <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-0">
                <RadzenIcon Icon="help" class="rz-mr-1" /><b>Instructions</b>
            </RadzenText>
        </HeaderTemplate>
        <ChildContent>
            <h5 class="mb-3 mt-3">
                <p>This tool has been provided by Spindlemedia to aid in understanding the tax limitation calculation.</p>
            </h5>
            <p>
                Steps:
                <ul>
                    <li>Select a school district</li>
                    <li>Enter the tax year you're working with, the first eligible tax year is 2023</li>
                    <li>Enter the year the taxpayer qualified for their Over 65 or Disability exemption</li>
                    <li>For each year, enter the following:</li>
                    <ul>
                        <li>Homesite taxable value</li>
                        <li>Ceiling amount for the first year, otherwise enter any adjustments such as new improvements or changes in ceiling amount due to ownership percentage changes</li>
                        <li>Ownership percent if not 100%</li>
                        <li>Estimated MCR if not pre-filled</li>
                    </ul>
                    <li>When using SB2 calculation, this assumes your 2023 MCR and tax rate has already been reduced by 10.7 cents</li>
                    <li>Click Submit</li>
                </ul>
            </p>
            <p>
                You can open multiple tabs by hitting the "Add Calculator" button.
            </p>
        </ChildContent>
    </RadzenPanel>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Left" Gap="0.5rem" Class="rz-pt-4 rz-pb-8">
        <RadzenButton Click="AddItem">Add Calculator</RadzenButton>
    </RadzenStack>

    <RadzenTabs @ref="_tabs" RenderMode="TabRenderMode.Client" @bind-SelectedIndex=@_selectedIndex>
        <Tabs>
            @for (var i = 1; i <= _tabCount; i++)
            {
                <RadzenTabsItem Text="@(BuildTabName(i))">
                    <LimitationCalculator Districts="@_districts" />
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
}

@code {
    private RadzenTabs _tabs;
    private int _selectedIndex = 0;
    private int _tabCount = 1;
    private DistrictDetail[]? _districts;

    protected override async Task OnInitializedAsync()
    {
        _districts = await Http.GetFromJsonAsync<DistrictDetail[]>("data/rates.json");
    }

    private string BuildTabName(int index)
    {
        return $"Calculator #{index}";
    }

    private void AddItem()
    {
        _tabCount++;
        _tabs.Reload();
    }
}
